.layout {
  display: flex;
  flex-direction: column;

  @media (--sm) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  & .container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.9rem;
    margin: 0 auto;

    @media (--sm) {
      width: 90%;
      padding: 0 1.35rem;
    }

    @media (--md) {
      width: 91%;
      padding: 0 2.25rem;
    }
  }

  &__title {
    width: 100%;
    text-align: center;
    margin: 1.1rem auto 0.8rem auto;
    font-size: 1.1rem;

    @media (--sm) {
      margin: 1.5rem auto 0.8rem auto;
      font-size: 1.3rem;
    }

    @media (--md) {
      margin: 1.6rem auto 1.2rem auto;
      font-size: 1.55rem;
    }

    @media (--l) {
      margin: 2.75rem auto 1.6rem auto;
      font-size: 2.2rem;
    }
  }
}
