.header {
  top: -1px;
  position: sticky;
  background-color: var(--blackish);
  max-width: var(--container-max-width);
  padding: 0.9rem 0 1rem 0;
  z-index: 3;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    flex: 1;
    display: flex;
    justify-content: center;
    justify-self: flex-start;

    & span {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 3.6rem 2.4rem;
      width: 4.7rem;
      height: 2.7rem;
      margin-right: auto;
      padding-left: 0;

      @media (--sm) {
        background-size: 4.5rem 2.7rem;
        margin-left: 0;
        padding-left: 0.9rem;
        width: 5rem;
      }

      @media (--md) {
        margin-left: -0.4rem;
        padding-left: 0;
        width: 5rem;
      }

      @media (--l) {
        margin-left: 0;
        padding-left: 1.2rem;
        width: 5.4rem;
      }
    }
  }

  &__sponsor {
    flex: 1;
    flex-grow: 0;
    display: flex;
    justify-content: center;

    &--missing {
      text-align: center;
      user-select: none;

      & span {
        line-height: 1.8rem;
        color: var(--gold);
        border: solid 2px var(--gold);
        text-transform: uppercase;
        width: 5.1rem;
        font-size: 0.95rem;
        font-weight: 800;
        letter-spacing: 0.1rem;
        padding-bottom: 0.2rem;
      }
    }
  }

  &__social {
    flex: 1;
    display: flex;
    justify-content: center;

    & ul {
      margin-left: auto;
      margin-right: 0.3rem;

      @media (--sm) {
        margin-right: 0.6rem;
      }
  
      @media (--md) {
        margin-right: 0;
        margin-top: -0.3rem;
      }

      @media (--l) {
        margin-right: -0.2rem;
        margin-top: 0rem;
      }

      & li {
        display: inline;

        & a {
          font-size: 1.3rem;
          color: var(--gold);
          text-decoration: none;
          padding-left: 0.6rem;

          @media (--sm) {
            font-size: 1.35rem;
            padding-left: 0.7rem;
          }

          &:hover {
            color: var(--white);
          }
        }
      }
    }
  }
}
