.sponsor {
  display: flex;
  background-color: var(--gold);
  width: 100%;
  justify-content: center;
  font-size: 0.72rem;
  line-height: 1.08rem;
  padding: 0.10rem 0 0.20rem 0;

  @media (--sm) {
    font-size: 0.81rem;
  }
}
