.footer {
  background-color: var(--blackish);
  margin-top: 1.95rem;
  padding-top: 0.2rem;

  @media (--sm) {
    margin-top: 2.5rem;
    padding-top: 0;
  }

  @media (--md) {
    margin-top: 2.8rem;
  }

  @media (--l) {
    margin-top: 3rem;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.4rem;

    @media (--sm) {
      height: 5.6rem;
    }
  
    @media (--l) {
      height: 5.7rem;
    }
  }

  &__share {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--gold);
    text-transform: uppercase;
    font-size: 0.81rem;
    letter-spacing: 1px;
    font-weight: 600;

    & span {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 0.2rem;

      & ul {
        display: flex;
        padding-left: 0.4rem;

        @media (--sm) {
          padding-left: 0.2rem;
        }

        @media (--md) {
          padding-left: 1rem;
        }

        @media (--l) {
          padding-left: 1.3rem;
        }

        & li {
          padding-left: 0.95rem;
          font-size: 1rem;

          @media (--sm) {
            font-size: 1.35rem;
          }

          &:hover {
            color: var(--white);
          }
        }
      }
    }
  }

  &__logo {
    width: 50%;
    flex: 1;
    display: flex;
    justify-content: center;
    justify-self: flex-start;

    & span {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 3.5rem 2.4rem;
      width: 5.4rem;
      height: 2.7rem;
      margin-left: auto;

      @media (--sm) {
        margin-right: -0.4rem;
        background-size: 5rem 2.4rem;
      }

      @media (--md) {
        margin-right: -0.8rem;
      }

      @media (--l) {
        margin-right: 0;
      }
    }
  }
}
