.hero {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: var(--gold);

  & .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  
    & .hero-feature {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0 0 6.3rem 0;
      color: var(--white);
      background-repeat: no-repeat;
      background-size: 1057px;
      background-position: top center;
      -webkit-filter: brightness(99%);
      filter: brightness(99%);

      @media (--sm) {
        background-size: 1087px;
        background-position: top center;
        flex-direction: column;
      }

      @media (--md) {
        background-size: 1130px;
        background-position: top left;
        flex-direction: row;
      }

      @media (--ml) {
        background-size: cover;
        background-position: bottom;
        flex-direction: row;
      }

      &__wrapper {
        width: 100%;
        margin: 0 auto;
        text-align: left;

        @media (--sm) {
          width: 75%;
        }

        @media (--md) {
          width: 50%;
        }

        & h1 {
          padding: 2.35rem 0 0 0;
          font-size: 2.2rem;
          line-height: 2.5rem;
          width: 90%;
          text-align: center;
          margin: 0 auto;

          @media (--sm) {
            padding: 3.3rem 0 0 0;
            font-size: 2.4rem;
            line-height: 2.5rem;
            width: 70%;
            text-align: center;
            margin: 0 auto;
          }

          @media (--md) {
            padding: 8.4rem 0 0 3.75rem;
            font-size: 3.75rem;
            line-height: 4.1rem;
            width: 90%;
            text-align: left;
          }

          @media (--l) {
            padding: 7.75rem 0 0 11.8rem;
            font-size: 4.4rem;
            line-height: 4.7rem;
          }
        }

        & p {
          width: 88%;
          padding: 0.2rem 0 0 0;
          line-height: 1.5rem;
          font-size: 0.85rem;
          text-align: center;
          margin: 0 auto;

          @media (--sm) {
            width: 100%;
            padding: 0.85rem 0 0 0;
            line-height: 1.5rem;
            font-size: 0.85rem;
            text-align: center;
            margin: 0;
          }

          @media (--md) {
            width: 90%;
            padding: 0.75rem 0 0 3.8rem;
            line-height: 1.4rem;
            font-size: 0.95rem;
            text-align: left;
          }

          @media (--l) {
            width: 65%;
            padding: 0.93rem 0 0 11.8rem;
            line-height: 1.61rem;
            font-size: 1rem;
          }
        }

        & .post__image {
          width: 11.2rem;
          height: 23.7rem;
          padding: 1.25rem 0 0 0;
          margin: 0 auto;

          @media (--sm) {
            width: 13rem;
            height: 27.7rem;
            padding: 1.41rem 0 0 0;
            margin: 0 auto;
          }

          @media (--md) {
            width: 15.7rem;
            height: 33.7rem;
            padding: 5rem 0 0 6.4rem;
            margin: 0;
          }

          @media (--l) {
            width: 20.3rem;
            height: 43.3rem;
            padding: 3.35rem 0 0 9.7rem;
          }
        }
      }
    }
  }
}