.two-up {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: var(--gold);
    
    & .two-up-post {
      position: relative;
      width: 88.1%;
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      padding: 0 0 2.4rem 0;
      margin: 0 auto;
      margin-top: -11rem;
      z-index: 1;
  
      @media (--sm) {
        flex-flow: column wrap;
        padding: 0 0 3.3rem 0;
        margin-top: -17.5rem;
      }
  
      @media (--md) {
        flex-flow: row wrap;
        padding: 0 0 4.7rem 0;
        margin-top: -13.5rem;
      }
  
      @media (--l) {
        width: 88.5%;
        flex-flow: row wrap;
        padding: 0 0 5rem 0;
        margin-top: -19.4rem;
      }
  
      &__wrapper-image {
        width: 94%;
        height: 0;
        margin: 0 auto;
        padding-bottom: 87.3%;
        overflow: hidden;
        text-align: center;
        background-color: var(--white);
  
        @media (--sm) {
          padding-bottom: 57.4%;
          width: 98%;
        }
  
        @media (--md) {
          padding-bottom: 45.4%;
          width: 50%;
        }
  
        @media (--l) {
          padding-bottom: 46%;
        }
  
        & .post__image {
          width: 100%;
          height: 0;
          margin: 0 auto;
          padding-bottom:100%;
          background-size: cover;
          background-repeat: no-repeat; 
          background-position: bottom;
  
          @media (--sm) {
            background-position: 0 -13rem;
          }
    
          @media (--md) {
            background-position: bottom;
          }
        }
      }
  
      &__wrapper-meta {
        width: 94%;
        height: 0;
        margin: 0 auto;
        padding-bottom: 121%;
        overflow: hidden;
        text-align: center;
        background-color: var(--white);
  
        @media (--sm) {
          padding-bottom: 50.3%;
          width: 98%;
        }
  
        @media (--md) {
          padding-bottom: 45.4%;
          width: 50%;
        }
  
        @media (--l) {
          padding-bottom: 46%;
        }
  
        & .post__meta {
          display: flex;
          flex-grow: 0;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 1.3rem 0;
          margin: 0 0.9rem;
          height: auto;
          background-color: var(--white);
          text-align: center;
  
          @media (--sm) {
            padding: 1.3rem 1.8rem;
            margin: 0 0.9rem;
          }
          
          @media (--md) {
            padding: 3.5rem 1.8rem;
            margin: 0 1.44rem;
          }
  
          @media (--l) {
            padding: 8.5rem 1.8rem;
            margin: 0 0.45rem;
          }
            
          &--icon {
            padding: 1rem 0.9rem 0.2rem 0.9rem;
            margin-top: 0;
            z-index: 1;
            color: var(--red);
            background-color: var(--white);
            border-radius: 100%;
            font-size: 1.6rem;
  
            @media (--sm) {
              margin-top: 0;
              padding: 0.9rem 0.9rem 0.5rem 0.9rem;
            }
      
            @media (--md) {
              margin-top: 0;
              padding: 0.9rem 0.9rem 0.5rem 0.9rem;
            }
  
            @media (--l) {
              padding: 0.9rem;
              margin-top: 0;
            }
          }
  
          & .post__meta--date {
            margin-top: 0;
          
            & button {
              font-size: 0.64rem;
              letter-spacing: 0.13rem;
  
              @media (--sm) {
                font-size: 0.64rem;
                letter-spacing: 0.13rem;
              }
  
              @media (--md) {
                font-size: 0.84rem;
                letter-spacing: 0.13rem;
              }
    
              @media (--l) {
                font-size: 0.94rem;
                letter-spacing: 0.1rem;
              }
            }
          }
  
          & h4 {
            padding: 0.4rem;
            font-size: 1.2rem;
            line-height: 1.8rem;
  
            @media (--sm) {
              padding: 0.3rem 2rem 0.1rem 2rem;
              font-size: 1.1rem;
              line-height: 1.8rem;
            }
  
            @media (--md) {
              padding: 0.6rem 2rem 0.5rem 2rem;
              font-size: 1.3rem;
              line-height: 1.8rem;
            }
  
            @media (--l) {
              padding: 0.4rem 5rem;
              font-size: 1.76rem;
              line-height: 2.4rem;
            }
          }
  
          & p {
            padding: 0;
            line-height: 1.75em;
            font-size: 0.84rem;
  
            @media (--sm) {
              padding: 0 1.11rem;
              line-height: 1.75em;
              font-size: 0.85rem;
            }
  
            @media (--md) {
              padding: 0;
              line-height: 1.45em;
              font-size: 0.95rem;
            }
  
            @media (--l) {
              padding: 0 3.25rem;
              line-height: 1.6em;
              font-size: 1rem;
            }
          }
      
          &--cta {
            padding-top: 1rem;
            font-size: 0.9rem;
            color: var(--red);
  
            @media (--sm) {
              padding-top: 1rem;
              font-size: 0.9rem;
            }
  
            @media (--md) {
              padding-top: 1.55rem;
              font-size: 0.97rem;
            }
  
            @media (--l) {
              padding-top: 1.74rem;
              font-size: 1rem;
            }
      
            &:hover {
              color: var(--blackish);
            }
          }
        }
      }
    }
  }