.post {
  display: flex;
  flex-direction: column;
  padding: 0.9rem 0 0.4rem 0;
  width: 100%;

  @media (--sm) {
    width: 50%;
    padding: 0.9rem 0 0.15rem 0;
  }

  @media (--md) {
    width: 33.3333333333%;
    padding: 0.9rem 0 1rem 0;
  }

  @media (--l) {
    width: 33.3333333333%;
    padding: 0.9rem 0 0.9rem 0;
  }

  &--latest {
    width: auto;
    margin: 0 1.8rem;
    transform: translateY(-3.6rem);

    @media (--sm) {
      margin: 0 2.25rem;
      padding: 1.08rem 0;
      transform: translateY(-13.5rem);
      height: 40.5rem;
    }

    @media (--md) {
      flex-direction: row;
      margin: 0 4.5rem;
      padding: 2.7rem 0;
      transform: translateY(-23.4rem);
      height: 33.3rem;
    }
  }

  &__image {
    display: flex;
    flex-shrink: 0;
    width: auto;
    height: 15.5rem;
    padding: 0 0.65rem;

    @media (--sm) {
      padding: 0 0.65rem;
      height: 14.5rem;
    }

    @media (--md) {
      padding: 0 0.6rem;
      height: 16.2rem;
    }

    @media (--l) {
      padding: 0 0.95rem;
      height: 23.4rem;
    }

    & span {
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      filter: contrast(100%);
      transition: 4.5s;
    }

    &--latest {
      width: 100%;
      height: 20.7rem;
      padding: 0;
      margin: 0;

      @media (--md) {
        width: 50%;
        height: 33.3rem;
      }

      & span {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__meta {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--tan);
    padding: 0.9rem 0;
    text-align: center;
    height: 7.1rem;
    margin: 0 0.6rem;

    @media (--sm) {
      margin: 0 0.6rem;
      height: 6.7rem;
      padding: 0.9rem;
    }

    @media (--md) {
      margin: 0 0.64rem;
      height: 6.35rem;
      padding: 1.8rem 1.4rem;
    }

    @media (--l) {
      margin: -0.2rem 0.95rem 0.95rem;
      height: 8.9rem;
      padding: 1.8rem;
    }

    &--icon {
      color: var(--red);
      background-color: var(--tan);
      border-radius: 100%;
      font-size: 1.15rem;
      padding: 1.05rem;
      z-index: 1;
      margin-top: 0;

      @media (--sm) {
        padding: 1.05rem;
        font-size: 1.15rem;
      }

      @media (--md) {
        padding: 0.8rem;
        font-size: 1.25rem;
      }

      @media (--l) {
        padding: 1.15rem;
      }
    }

    & .post__meta--date {
      margin: 0;
      padding: 0;
      margin-top: -0.3rem;

      @media (--sm) {
        margin-top: -0.4rem;
      }

      @media (--md) {
        margin-top: -0.2rem;
      }
    
      & button {
        font-size: 0.66rem;
        letter-spacing: 0.1rem;

        @media (--sm) {
          font-size: 0.66rem;
          letter-spacing: 0.1rem;
        }

        @media (--md) {
          font-size: 0.94rem;
          letter-spacing: 0.1rem;
        }
  
        @media (--l) {
          font-size: 0.94rem;
          letter-spacing: 0.1rem;
        }
      }
    }

    & h4 {
      font-size: 1.09rem;
      padding: 0.5rem 1.5rem 0.75rem 1.5rem;
      line-height: 1.48rem;
      margin: 0;

      @media (--sm) {
        font-size: 1.09rem;
        padding: 0.4rem 0.5rem 0.65rem 0.5rem;
        margin: 0;
        line-height: 1.48rem;
      }

      @media (--md) {
        font-size: 1.15rem;
        padding: 0.4rem 0 0.9rem 0;
        margin: 0;
        line-height: 1.65rem;
      }

      @media (--l) {
        font-size: 1.5rem;
        padding: 0.5rem 1.1rem 1.4rem 1.1rem;
        line-height: 2rem;
      }
    }

    &--cta {
      font-weight: 600;
      color: var(--red);
      padding-bottom: 2.9rem;
      font-size: 0.9rem;

      @media (--sm) {
        padding-bottom: 2.9rem;
        font-size: 0.9rem;
      }

      @media (--md) {
        padding-bottom: 3.4rem;
        font-size: 1rem;
      }

      @media (--l) {
        padding-bottom: 3.7rem;
      }

      &:hover {
        color: var(--blackish);
      }
    }

    &--latest {
      background-color: --white;
      padding: 1.8rem;
      text-align: center;
      height: 20.7rem;
      margin: 0;

      @media (--sm) {
        padding: 2.7rem;
        height: 27rem;
      }

      @media (--md) {
        height: auto;
        width: 50%;
        padding: 5.4rem;
      }

      & .post__meta--icon {
        padding: 0;
        margin-top: 0;
        background-color: --white;
      }
    }
  }

  .post__meta--cta {
    color: --blackish;

    &:hover {
      color: --blackish;
    }
  }

  &--hover {
    &.post {
      .post__meta {
        background-color: --blackish;
        transition: 0.72s;

        &--icon {
          background-color: --blackish;
          transition: 0.72s;
        }
      }

      .post__meta--date button {
        color: --white;
      }

      .post__meta--title {
        color: --white;
      }

      .post__meta--cta {
        &:hover {
          color: var(--red);
        }
      }

      & .post__image span {
        filter: contrast(135%);
        transition: 4.5s;
      }

      &--latest {
        .post__meta {
          background-color: --white;

          &--icon {
            background-color: --white;
          }
        }

        .post__meta--date button {
          color: --blackish;
        }

        .post__meta--title {
          color: --blackish;
        }
      }
    }
  }
}
